<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap">
</head>
<body>
  <header>
    
    <div class="image-slider" style="z-index: 0;">
      <p class="slogan" style="text-align: center; color: white; margin-top: 220px; font-size: 65px; font-weight: bold;">DISCOVER YOUR <br> DREAM FURNITURE</p>
      <img src="assets/images/1.png" alt="Headline 1" class="slide active" style="z-index: -1;">
    </div>

    

    

  </header>
</body>
</html>

<app-home></app-home>
<app-about></app-about>
<app-contact></app-contact>

