<div class="footer" style="background-color: #F5F5DC; position: relative; bottom: 0; left: 0; right: 0; display: flex; justify-content: center;">

  <div class="logopart" style="background-color: #F5F5DC; justify-content: center; align-items: center; margin-bottom: 100px;">
    <img src="assets/images/blogo.png" alt="Logo" class="logo" style="height: 160px; width: 160px;">
    <img src="assets/images/blogoword.png" alt="emilyjones" class="emilyjones" style="height: 41px; width: 178px; margin-top: -25px;">
  </div>
  
  
</div>
<app-infobar></app-infobar>


