<div class="title" style="z-index: 50; position: absolute; margin-top: 30px;">
<h4 style="z-index: 50; margin-left: 150px; margin-top: 50px; font-size: 130px;">About Us</h4>
</div>

<div class="container" style="z-index: -10; margin-top: 50px;">
<div class="left-side" style="margin-top: 180px; z-index: -50;">
  <p style="font-size: 13px;">
    Founded by Tumelo Sikhosana, our purpose is to turn your house into a home, by providing you with high quality furniture at a low price. Our furniture goes beyond mere functionality. We offer a diverse selection of styles, from classic and timeless to modern and trendy, allowing you to find pieces that speak to your unique taste and create a space that reflects your personality.
    <br>
    <br>

    We source high-quality furniture pieces built to last, ensuring you get incredible value for your money. We believe everyone deserves to have a beautiful and comfortable home, regardless of budget. We handpick each piece in our collection, ensuring exceptional quality, design, and affordability. You won't find a cluttered online store here; just a carefully curated selection of furniture that will make a statement in your home.
  </p>
</div>

<div class="right-side">
  <img src="assets/images/greycouch.png" alt="GreyCouch" class="slide active" style=" width: 600px; height: 400px; margin-top: 30px; z-index: -50;" >
</div>
</div>

