<div class="container" style="display: flex; justify-content: center; align-items: center; margin-top: 200px;">
  <div class="video-section">
    <video width="640" height="360" controls autoplay loop muted>
      <source src="assets/videos/45.mp4" type="video/mp4">
    </video>
  </div>
</div>


<div class="form-section" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 90px;">
  <img src="assets/images/stay.png" alt="StayInspired" class="stay" style="height: 72px; width: 330px;">

  <p style="margin-top: 11px;font-size: 18px; color: gray;">Please sign up with your email address to receive news and updates</p>

  <div style="display: flex; margin: 0 auto;">  <input class="firstname" placeholder="First name" style="width: 200px; height: 44px;"/>
    <input class="lastname" placeholder="Last name" style="width: 200px; height: 44px; margin-left: 20px;"/>
    <input type="email" class="email" placeholder="Email" style="width: 200px; height: 44px; margin-left: 20px;"/>
  </div>

  <button class="submit" style="width: 200px; height: 40px; background-color: #F5F5DC; border-color: transparent; margin-bottom: 50px; border-radius: 10px; margin-top: 30px; color: gray;">
    Subscribe
  </button>
</div>
